<a href="https://colab.research.google.com/github/YunTaeHyeon/AILab/blob/main/Logistic_Regression_ipynb.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [8]:
from sklearn.linear_model import LogisticRegression
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd
import numpy as np

In [10]:
df = pd.read_csv("/content/train_pre.csv")
df_test = pd.read_csv('/content/test_pre.csv')


print(df.shape, df_test.shape)
print(df.head())

(891, 10) (418, 10)
   Unnamed: 0  Survived  Pclass  Sex  Ticket  Embarked  Title  Fare_level  \
0           0         0       3    0       1         2      1           0
1           1         1       1    1       1         0      3           3
2           2         1       3    1       1         2      2           1
3           3         1       1    1       2         2      3           3
4           4         0       3    0       1         2      1           1

   Fellow  Age_class
0       1          2
1       1          3
2       0          2
3       1          3
4       0          3

In [46]:
#이상치 제거와 결측치 제거가 끝났기에 Min_Max를 이용하여 정규화
normalization_df = (df - df.min())/(df.max() - df.min())
print(normalization_df)
print(df.isnull().sum().sum())
normalization_df_test = (df_test - df_test.min())/(df_test.max() - df_test.min())
print(normalization_df_test)
print(df_test.isnull().sum().sum())

     Unnamed: 0  Survived  Pclass  Sex    Ticket  Embarked  Title  Fare_level  \
0      0.000000       0.0     1.0  0.0  0.000000       1.0   0.00    0.000000
1      0.001124       1.0     0.0  1.0  0.000000       0.0   0.50    1.000000
2      0.002247       1.0     1.0  1.0  0.000000       1.0   0.25    0.333333
3      0.003371       1.0     0.0  1.0  0.166667       1.0   0.50    1.000000
4      0.004494       0.0     1.0  0.0  0.000000       1.0   0.00    0.333333
..          ...       ...     ...  ...       ...       ...    ...         ...
886    0.995506       0.0     0.5  0.0  0.000000       1.0   1.00    0.333333
887    0.996629       1.0     0.0  1.0  0.000000       1.0   0.25    0.666667
888    0.997753       0.0     1.0  1.0  0.166667       1.0   0.25    0.666667
889    0.998876       1.0     0.0  0.0  0.000000       0.0   0.00    0.666667
890    1.000000       0.0     1.0  0.0  0.000000       0.5   0.00    0.000000

     Fellow  Age_class
0       1.0   0.285714
1       1.0   0.428571
2       0.0   0.285714
3       1.0   0.428571
4       0.0   0.428571
..      ...        ...
886     0.0   0.285714
887     0.0   0.142857
888     1.0   0.285714
889     0.0   0.285714
890     0.0   0.428571

[891 rows x 10 columns]
0
     Unnamed: 0  Survived  Pclass  Sex  Ticket  Embarked  Title  Fare_level  \
0      0.000000       0.0     1.0  0.0     0.0       0.5   0.00    0.000000
1      0.002398       1.0     1.0  1.0     0.0       1.0   0.50    0.000000
2      0.004796       0.0     0.5  0.0     0.0       0.5   0.00    0.333333
3      0.007194       0.0     1.0  0.0     0.0       1.0   0.00    0.333333
4      0.009592       1.0     1.0  1.0     0.0       1.0   0.50    0.333333
..          ...       ...     ...  ...     ...       ...    ...         ...
413    0.990408       0.0     1.0  0.0     0.0       1.0   0.00    0.333333
414    0.992806       1.0     0.0  1.0     0.0       0.0   1.00    1.000000
415    0.995204       0.0     1.0  0.0     0.0       1.0   0.00    0.000000
416    0.997602       0.0     1.0  0.0     0.0       1.0   0.00    0.333333
417    1.000000       0.0     1.0  0.0     0.0       0.0   0.75    0.666667

     Fellow  Age_class
0       0.0   0.428571
1       1.0   0.571429
2       0.0   0.857143
3       0.0   0.285714
4       1.0   0.285714
..      ...        ...
413     0.0   0.285714
414     0.0   0.428571
415     0.0   0.428571
416     0.0   0.285714
417     1.0   0.285714

[418 rows x 10 columns]
0

In [24]:
survived = normalization_df['Survived']
features = normalization_df[['Pclass',	'Sex',	'Ticket',	'Embarked',	'Title',	'Fare_level',	'Fellow',	'Age_class']]
survived_test = normalization_df_test['Survived']
features_test = normalization_df_test[['Pclass',	'Sex',	'Ticket',	'Embarked',	'Title',	'Fare_level',	'Fellow',	'Age_class']]

In [13]:
scaler = StandardScaler()
train_features = scaler.fit_transform(features)
test_features = scaler.transform(features_test)

In [14]:
model = LogisticRegression()
model.fit(train_features, survived)

LogisticRegression()

In [15]:
print(model.score(train_features, survived))

0.8103254769921436

In [16]:
print(model.score(test_features, survived_test))

0.9425837320574163

In [17]:
print(model.coef_)

[[-0.76239947  1.0890855  -0.37310197 -0.2064705   0.44050999  0.24760605
  -0.09582668 -0.42745086]]

In [47]:
from sklearn.model_selection import KFold
from sklearn.metrics import accuracy_score
from sklearn.model_selection import cross_val_score

kfold=KFold(n_splits=5)
foldForTrain=cross_val_score(model, train_features, survived, cv=5)
foldForTest=cross_val_score(model, test_features, survived_test,cv=5)

print(foldForTrain.mean())
print(foldForTest.mean())

0.8080848659845584
1.0